.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .logo {
        width: 150px;
        height: auto;
    }

    nav {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    li {
        margin: 0;
        color: var(--text-secundary);
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.5s;
    }
    li:hover {
        color: var(--text-primary);
    }

    button {
        color: var(--text-secundary);
        font-size: 12px;
    }

    @media (width> 1024px) {
        justify-content: space-between;
        flex-direction: row;
        margin: 50px 0px;
        
        nav {
            display: flex;
        }

        .logo {
            width: 200px;
            height: auto;
        }

        li {
            font-size: 20px;
        }

        ul {
            gap: 50px;
        }
    }
}